.navbar {
  margin: 0px;
  padding: 0px;
  justify-content: center;
  background-color: gray;
  position: relative;
  float: center;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.navbar ul li a {
  padding: 8px 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease;
}
.navbar ul li a:hover {
  background-color: blue;
  color: black;
  box-shadow: 0 0 8px white;
}
.logo {
  width: 50px;
  border-radius: 50px;
}
.button {
  background-color: blue;
  border: none;
  color: white;
  margin: 30px;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px black;
}
.container img {
  display: flex;
  width: 400px;
  height: 4oopx;
}
.column img {
  width: 200px;
  height: 200px;
  column-count: 2;
  column-gap: 15px;
  margin: 20, 15, 20, 15px;
}
.column:hover {
  column-gap: 15px;
  background-color: blue;
}
footer {
  background-color: white;
  border: none;
  color: white;
  margin: 30px;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
body {
  background-color: rgb(223, 207, 223);
}

@media all and (max-width: 760px) {
  .navbar {
    background-color: blue;
  }
  body {
    background-color: palegoldenrod;
  }
}
